<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Studio Photographs: historical, geographical and visual dialogue</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/p5.min.js"></script>
  <script src="js/lodash.js"></script>
</head>