<main>
    <header><h1>Stüdyo Fotoğrafları</h1>
    <h2><a onclick="historical()">Tarihsel</a> — <a onclick="geographical()">Coğrafi</a> — <a onclick="visual()">görsel diyalog</a></h2></header>
    <section id="gallery">
    {{#each collection}}
      <figure id="{{this.id}}" onmouseover="hover(this)">
        <img src="assets/{{this.id}}a.webp">
      </figure>
    {{/each}}
    </section>
    <section id="datacard"></section>
</main>
<script>
const db={{{json collection}}};
</script>
  <script src="js/script.js"></script>
